body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8; /* Light gray background */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(41, 41, 41, 0.1);
}

nav .logo {
  height: 60px;
}

nav .nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav .nav-links li {
  display: inline;
}

nav .nav-links a {
  text-decoration: none;
  color: #2e2e2e;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #e0e0e0;
  transition: background-color 0.3s;
}

nav .nav-links a:hover {
  background-color: #333333;
  color: white;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
  justify-content: center;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.banner {
  background-color: #eee;
  text-align: center;
  padding: 50px 10px;
}

.profile-content {
  padding: 20px;
}

.profile-content section {
  margin-bottom: 20px;
}

.form-container {
  padding: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
}
